<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eveniet, praesentium cupiditate esse non quaerat quo eos odit a maxime error eius! In perferendis ut nobis similique veritatis recusandae accusantium!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis ipsam facere porro fugit, explicabo molestiae debitis, ipsum itaque nihil nostrum atque, incidunt voluptatem. Maiores tempora eaque doloremque mollitia dolorem?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit necessitatibus consequatur assumenda saepe nisi. Vel ex voluptates a consequatur eum saepe suscipit fugiat magni. A voluptate ab velit odio exercitationem?
    </p>
</section>