<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eveniet, praesentium cupiditate esse non quaerat quo eos odit a maxime error eius! In perferendis ut nobis similique veritatis recusandae accusantium!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At corporis ipsam facere porro fugit, explicabo molestiae debitis, ipsum itaque nihil nostrum atque, incidunt voluptatem. Maiores tempora eaque doloremque mollitia dolorem?
    </p>
</section>